.align-right {
    margin-left: auto !important;
}

.btn {
    margin-left: 10px;
}

.header{
    background: linear-gradient(27deg, rgb(144 144 144) 0%, rgba(255, 255, 255, 1) 15%, rgb(177 169 169) 30%, rgba(208, 208, 208, 1) 49%, rgba(254, 254, 254, 1) 70%, rgb(174 166 166) 100%);
}